* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(238, 234, 227); */
    background-color: rgb(238, 234, 227);
}

/* scrollbar customize */
::-webkit-scrollbar
{
    width: 8px;
    height: 10px
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(180deg ,red ,yellow);
    border-radius: 10px;
}

/* carousel css */
.carousel
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.carousel_container
{
    height: 700px;
    width: 1230px;
}
.coursel_buttons
{
    border:  4px solid black;
}

.carousel_images_container
{
    height: 700px;
    width: 1224px;
}
.carousel-item img{
    height: 700px;
}
a {
    /* text-decoration: none; */
    text-decoration: none;
}

.skj_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1800px;
}

/* heading  */
.skj_container h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    display: block;
    margin: 10px;
}

.skj_container h1,
.skj_container h1 {
    font-family: 'Birthstone', cursive;
    font-size: 3rem;
    display: block;
    text-align: center;
}

.cake_name h1
{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.skj_cards .skj_discription .skj_content h1 {
    font-size: 1.5rem;
    display: block;
    text-align: center;
}

.skj_flavour,
.skj_types {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
}

.region-heading {
    display: flex;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.skj_varites {
    width: 98%;
    margin: 5px 5px;
    height: 80%;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.img_and_name 
{
    position: relative;
    width: 22%;
    margin: 5px 20px;
    padding: 4px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.skj_cards {
    position: relative;
    width: 100%;
    margin: 5px;
    padding: 4px;
    height: 85%;
}

.skj_cards img {
    position: absolute;
    width: 95%;
    height: 95%;
    transition-property: width, height, border-radius;
    transition-duration: 2s, 2s, 2s;
    border-radius: 10px;
}

.skj_cards:hover img 
{
    width: 105%;
    height: 105%;
    border-radius: 30px;
    cursor: pointer;
}

.skj_cards .skj_content {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 45px;
    color: blanchedalmond;
}

.skj_cards .skj_discription::before {
    content: "";
    width: 80%;
    height: 40%;
    background-color: rgba(27, 25, 25, 0.7);
    position: absolute;
    left: 20px;
    right: 4px;
    top: -10%;
    opacity: 0;
    margin: auto;
    transition: all 1s;
}

.skj_cards .skj_discription::after {
    content: "";
    width: 80%;
    height: 40%;
    background-color: rgba(27, 25, 25, 0.7);
    position: absolute;
    left: 20px;
    right: 4px;
    bottom: -10%;
    opacity: 0;
    margin: auto;
    transition: all 1s;
}

.skj_cards:hover .skj_discription::before {
    top: 15%;
    opacity: 1;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.skj_cards:hover .skj_discription::after {
    opacity: 1;
    bottom: 5%;
    /* 10.05 */
    cursor: pointer;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.skj_content {
    font-family: 'Birthstone', cursive;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    padding: 40px 20px;
    z-index: 10;
    opacity: 0;
    transition: all 2s;
}

.skj_cards:hover .skj_content {
    opacity: 1;
    transform: rotate(0deg);
}

.skj_content {
    color: antiquewhite;
}

.skj_icons {
    color: blanchedalmond;
    font-size: 10004px;
    margin: 10px 0px;
}

.cake_name
{
    margin: 25px 2px;
    text-align: center;
}

/* ####################################333333#########################################################################################33 */


@media(max-width:970px) {
    .skj_content {
        padding: 0px 15px;
    }

    .skj_flavour,
    .skj_types {
        height: 2200px;
    }

    .img_and_name {
        /* height: 45%; */
        height: 300px;
        width: 30%;
        margin: 4px 20px;
    }

    /*.skj_varites {
        height: 100%;
    }

    .skj_cards .skj_discription::before {
        width: 90%;
        height: 45%;
        left: 3px;
        right: 3px;
        top: -10%;
        opacity: 0;
        margin: auto;
        transition: all 1s;
    }

    .skj_cards .skj_discription::after {
        content: "";
        width: 90%;
        height: 45%;
        left: 3px;
        right: 3px;
        bottom: -10%;
        opacity: 0;
        margin: auto;
        transition: all 1s;
    }

    .skj_cards:hover .skj_discription::before {
        top: 5%;
        opacity: 1;
        cursor: pointer;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .skj_cards:hover .skj_discription::after {
        bottom: 5%;
        opacity: 1;
        cursor: pointer;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .skj_varites .skj_cards .skj_discription {
        width: 100%;
        top: 30px;
        left: 0px;
        right: 0px;
        bottom: 30px;
        padding: 25px 0px;
        margin: auto;
    }

    .skj_varites .skj_cards img {
        height: 95%;
        width: 99%;
    }*/
}

@media(max-width:700px) {
    .img_and_name {
        /* height: 45%; */
        height: 300px;
        width: 40%;
        margin: 4px 20px;
    }
}


@media(max-width:500px) 
{
    .img_and_name {
        /* height: 45%; */
        height: 300px;
        width: 60%;
        margin: 4px 20px;
    }
}

@media(max-width:350px)
{
    .img_and_name {
        /* height: 45%; */
        height: 300px;
        width: 80%;
        margin: 4px 20px;
    }
}

@media(max-width:270px)
{
    .img_and_name {
        /* height: 45%; */
        height: 300px;
        width: 88%;
        margin: 4px 20px;
    }
    .skj_container {
        min-width: 250px;
    }
}
/* @media(max-width:450px) {
    .skj_container {
        min-width: 370px;
    }

    .skj_content {
        padding: 0px 0px;
    }

    .skj_flavour,
    .skj_types {
        height: 3650px;
        margin: 0px;
    }

    .skj_cards {
        height: 45%;
        height: 250px;
        width: 95%;
        margin: 4px 20px;
    }
} */