/* universal */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(247, 234, 234);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-page {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0;
}

a {
    text-decoration: none;
}


/* preloader */

html,
body {
    overflow: hidden;
}

.loading-div {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    z-index: 10000000;
}

.loading-div .loading-animation {
    z-index: 10000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.loading-div .loading-animation .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 1.2s linear infinite;
}

.loading-div .loading-animation .bar1 {
    animation-delay: 0.1s;
}

.loading-div .loading-animation .bar2 {
    animation-delay: 0.2s;
}

.loading-div .loading-animation .bar3 {
    animation-delay: 0.3s;
}

.loading-div .loading-animation .bar4 {
    animation-delay: 0.4s;
}

.loading-div .loading-animation .bar5 {
    animation-delay: 0.5s;
}

.loading-div .loading-animation .bar6 {
    animation-delay: 0.6s;
}

.loading-div .loading-animation .bar7 {
    animation-delay: 0.7s;
}

.loading-div .loading-animation .bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
    }

    50% {
        transform: scaleY(1);
        background: #bb7c06;
    }

    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}


/* background video */

.home-page .video-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 100vw;
}

.home-page .video-container .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #050505;
    height: 100vh;
    min-width: 100%;
    opacity: 0.7;
    z-index: 2;
}

.home-page #home-video {
    right: 0;
    top: 0;
    height: 100vh;
    min-width: 100vw;
}


/* nav bar */

.home-page .nav-bar {
    position: absolute;
    top: 0;
    display: flex;
    color: #fbf8f8;
    align-items: center;
    padding-top: 20px;
    z-index: 3;
}

.home-page .nav-bar .logo {
    font-family: cursive;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.home-page .nav-bar .headings {
    display: flex;
    font-size: 20px;
    font-weight: normal;
}

.home-page .nav-bar .headings a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.home-page .nav-bar .headings a:hover {
    color: #e79544;
    text-decoration: none;
}

.home-page .nav-bar .headings .sub-headings {
    padding-right: 50px;
}

.home-page .nav-bar .headings #login-button,
.home-page .nav-bar .headings #signup-button {
    border: none;
    background-color: transparent;
    margin-right: 30px;
    color: white;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    cursor: pointer;
}

.home-page .nav-bar .headings #login-button:hover,
.home-page .nav-bar .headings #signup-button:hover {
    color: #e79544;
}

.home-page .nav-bar .headings .search-bar {
    margin-right: 40px;
}

.home-page .nav-bar .headings .search-bar .search-bar-input {
    height: 30px;
    background: transparent;
    padding-left: 3px;
    font-size: 16px;
    color: white;
    border: none;
    width: 190px;
    border-bottom: 0.7px solid white;
}

.home-page .nav-bar .headings .search-bar .search-bar-input:focus {
    outline: none;
    border-bottom: 0.7px solid #e79544;
}

.home-page .nav-bar .headings .search-bar a button {
    border: none;
    background: none;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 18px;
}

.home-page .nav-bar .headings .search-bar a button:hover {
    color: #e79544;
    cursor: pointer;
}

/* middle text on backgroung image */

.home-page .content {
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fbf8f8;
    z-index: 3;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.home-page .content p {
    font-size: 70px;
    padding-bottom: 20px;
}

.home-page .content button {
    margin-top: 30px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: none;
    background-color: #e79544;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.home-page .content button:hover {
    color: #e79544;
    background-color: white;
}

.headings .dropbtn {
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.headings .dropbtn:hover,
.headings .dropbtn:focus {
    color: #e79544;
}

.headings .dropdown {
    position: relative;
    display: inline-block;
}

.headings .dropbtn i {
    margin-left: 9px;
    font-size: 20px;
}

.headings .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(5, 4, 4, 0.5);
    z-index: 1;
}

.headings .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.headings .dropdown-content button {
    padding: 10px;
}

.headings #login-button:hover,
.headings #signup-button:hover {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.headings .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #e79544;
}

.headings .show {
    display: block;
}


/* login box */

.home-page #login {
    position: absolute;
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(5, 5, 5, 0.7);
    z-index: 4;
    display: none;
}

.home-page #login .container {
    height: 450px;
    width: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.home-page #login .container div {
    margin-bottom: 10px;
}

.home-page #login .container .heading {
    font-size: 29px;
    font-weight: 200;
    flex: none;
    display: flex;
    align-items: center;
}

.home-page #login .container .heading .sub-heading {
    margin-right: 250px;
}

.home-page #login .container .heading button {
    width: 30px;
    height: 30px;
    font-size: 25px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.home-page #login .container .heading button:hover {
    color: #e79544;
}

.home-page #login .container .input {
    width: 370px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 9px;
    font-size: 17px;
}

.home-page #login .container .google {
    width: 380px;
    height: 40px;
    font-size: 20px;
    background-color: #e79544;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.home-page #login .container .google:hover {
    background-color: #e6e4e4;
    color: #e79544;
}

.home-page #login .container .submit-login {
    width: 380px;
    height: 40px;
    font-size: 20px;
    background-color: #e79544;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.home-page #login .container .submit-login:hover {
    background-color: #e6e4e4;
    color: #e79544;
}

.home-page #login .container .have-acc {
    margin-top: 10px;
    font-size: 20px;
}

.home-page #login .container .have-acc button {
    color: #e79544;
    cursor: pointer;
    height: 30px;
    width: 150px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* signup box  */

.home-page #signup {
    position: absolute;
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(5, 5, 5, 0.7);
    z-index: 4;
    display: none;
}

.home-page #signup .container {
    height: 470px;
    width: 470px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.home-page #signup .container div {
    margin-bottom: 10px;
}

.home-page #signup .container .heading {
    font-size: 29px;
    font-weight: 200;
    flex: none;
    display: flex;
    align-items: center;
}

.home-page #signup .container .heading .sub-heading {
    margin-right: 250px;
}

.home-page #signup .container .heading button {
    width: 30px;
    height: 30px;
    font-size: 25px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.home-page #signup .container .heading button:hover {
    color: #e79544;
}

.home-page .container #signup-error {
    margin-right: 210px;
    color: red;
    display: none;
}

.home-page #signup .container .input {
    width: 370px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 9px;
    font-size: 17px;
}

.home-page #signup .container .check-box {
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.home-page #signup .container .check-box input {
    margin-right: 10px;
}

.home-page #signup .container #submit-signup {
    width: 380px;
    height: 40px;
    font-size: 20px;
    background-color: #e79544;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.home-page #signup .container #submit-signup:hover {
    background-color: #e6e4e4;
    color: #e79544;
}

.home-page #signup .container .google {
    width: 380px;
    height: 40px;
    font-size: 20px;
    background-color: #e79544;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.home-page #signup .container .google:hover {
    background-color: #e6e4e4;
    color: #e79544;
}

.home-page #signup .container .have-acc {
    margin-top: 10px;
    font-size: 20px;
}

.home-page #signup .container .have-acc button {
    color: #e79544;
    cursor: pointer;
    height: 30px;
    width: 80px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* media query home page */

@media(max-width:1200px) {
    .home-page {
        height: 80vh;
    }

    .home-page .nav-bar .logo {
        margin-left: 30px;
        margin-right: 50px;
    }

    .home-page .nav-bar .headings .sub-headings {
        padding-right: 20px;
    }
}

@media(max-width:700px) {
    .home-page .nav-bar {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .home-page .nav-bar .headings {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .home-page .content p {
        font-size: 40px;
    }
}


/*  ORDER FORM */

.main-order-form {
    color: white;
    background: url('../img/bac_bakery.jpg');
    background-attachment: fixed !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 98vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.order-form-flex {
    flex-basis: 90%;
    margin: 0 auto;
    max-width: 930px;
    padding: 60px 80px;
    background-color: rgba(34, 35, 40, 0.9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
}

.order-form-flex-left {
    flex-basis: 40%;
}

.order-form-flex-right {
    flex-basis: 40%;
}

.order-left-h4 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
}

.order-form-p {
    margin-bottom: 20px;
    line-height: 1em;
    margin-top: 10px;
}

.order-para-num {
    margin-top: 10px;
}

.order-form-icon {
    margin-right: 10px;
}

.order-left-child {
    margin-bottom: 30px;
    margin-bottom: 20px;
    line-height: 1em;
    font-size: 14px;
    font-weight: 400;
    color: #c7c7c7;
}


/* right  */

.order-right-h3 {
    font-size: 35px;
    font-family: BlinkMacSystemFont, "Lora", serif;
}

.order-right-para {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 15px;
}

.order-form-label {
    font-size: 15px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    color: #c7c7c7;
}

.order-form-input {
    color: #fff;
    max-width: 100%;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(235, 98, 98, 0.4);
    box-shadow: 0 0px 10px rgba(134, 122, 122, 0.849);
}

@media screen and (max-width:991px) {
    .order-form-flex-right {
        flex-basis: 100%;
    }

    .order-form-flex-left {
        flex-basis: 100%;
    }
}

#order-form-but {
    display: inline-block;
    padding: 9px 60px 7px;
    line-height: 25px;
    font-size: 14px;
    color: #cd9b33;
    border: 2px solid #cd9b33;
    background-color: transparent;
    box-shadow: none;
    border-radius: 30px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.order-right-h3:hover {
    text-shadow: 2px 2px #717978;
}

.error {
    color: red;
    padding: 5px;
    margin: 5px 0 15px 0;
    background: transparent;
    height: 30px;
    width: 100%;
}

.success {
    color: green;
    padding: 5px;
    margin: 5px 0 15px 0;
    background: transparent;
    height: 30px;
    width: 100%;
}

.footer-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #282828;
    color: #908F8F;
}

.footer-about {
    margin-top: 15px;
    margin-bottom: 15px;
    flex-basis: 90%;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(218, 216, 216);
}

.parent-footer {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-heading {
    flex-basis: 80%;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    color: white;
}

.about-comp {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.about-comp .about {
    flex-basis: 80%;
    align-self: flex-start;
}

.connection-icons {
    margin-top: 25px;
    flex-basis: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    flex-wrap: wrap;
}

.connection-icons .icons-footer {
    flex-basis: 80%;
}

.contact-info-footer {
    margin-top: 25px;
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.contact-info-footer .connect-icons-footer {
    flex-basis: 80%;
}

.contact-info-footer a {
    text-decoration: none;
}

.contact-info-footer a:hover {
    color: #bb7c06;
}

.icons-footer-1 {
    color: rgb(218, 216, 216);
    font-weight: 700;
    font-size: 23px;
}

.line-end {
    flex-basis: 95%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.line-end hr {
    height: 3px;
    background-color: #34a0fd;
}

.icons-footer i {
    color: white;
}

/* .connect-icons-footer a{
    color: white;
} */

.end-footer {
    margin-bottom: 30px;
}

#nsutian-footer {
    color: red;
    font-weight: 600;
}

.quick-link-a {
    color: #928989;
}



.nav-bar .headings a {
    text-decoration: none;
}

.nav-bar .headings nav {
    font-family: monospace;
}

.nav-bar .heading sul {
    background: transparent;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav-bar .headings li {
    color: #fff;
    background: transparent;
    display: block;
    float: left;
    /* padding: 1rem; */
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.nav-bar .headingsli a {
    color: #fff;
}

.nav-bar .headingsli:hover,
.nav-bar .headingsli:focus-within {
    background: transparent;
    cursor: pointer;
}

.nav-bar .headingsli:focus-within a {
    outline: none;
}

.nav-bar .headings ul li ul {
    background: transparent;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.nav-bar .headings ul li:hover>ul,
.nav-bar .headings ul li:focus-within>ul,
.nav-bar .headings ul li ul:hover,
.nav-bar .headings ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

.nav-bar .headings ul li ul li {
    clear: both;
    width: 100%;
}

#clr2:hover {
    color: rgb(241 136 136);
}

#color-picker {
    left: 0;
    margin-right: 20px;
}