body {
    background-color: #000000
}

.padding {
    /* padding: 3rem !important; */
    /* margin-left: 200px */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.col-md-8{
    flex-basis: 60%;
    margin-top: 50px;
}
.card-img-top {
    height: 300px
}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 148px;
    height: 125px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

html body .m-b-0 {
    margin-bottom: 0px
}

h3 {
    line-height: 30px;
    font-size: 21px
}

.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}

html body .m-t-10 {
    margin-top: 10px
}

.btn-primary,
.btn-primary.disabled {
    background: #7460ee;
    border: 1px solid #7460ee;
    -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #455a64;
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.navbar-outermost{
    background-color: rgba(7, 6, 6, 1);
}

.home-page{
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: auto;
}

.home-page .logo{
    flex-basis: 15%;
    position: relative;
}

.home-page .logo a{
    font-size: 35px;
    font-family: cursive;
    color: white;
    padding-left: 10%;
    text-decoration: none;
}

.home-page .nav-bar{
    flex-basis: 75%;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 7%;
}

.home-page .nav-bar .sub-headings a {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

#cont-p{
    margin-top: 10px;
}

.home-page .nav-bar .sub-headings .search-bar-input{
    background-color: transparent;
    border: none;
    text-decoration: none;
    border-bottom: 2px solid white;
    /* width: 100%; */
    margin-bottom: 15px;
}

.home-page .nav-bar .sub-headings a:hover {
    color: #e79544;
    text-decoration: none;
}

.home-page .nav-bar .headings .sub-headings {
    padding-right: 50px;
}

.search-submit{
    background-color: transparent;
    color: white;
}

.footer-cont{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #282828;
    color: #908F8F;
}

.footer-about{
    margin-top: 15px;
    margin-bottom: 15px;
    flex-basis: 90%;
}

.parent-footer{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-heading{
    flex-basis: 80%;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    color: white;
}

.about-comp{
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.about-comp .about{
    flex-basis: 80%;
    align-self: flex-start;
}

.connection-icons{
    margin-top: 25px;
    flex-basis: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    flex-wrap: wrap;
}

.connection-icons .icons-footer{
    flex-basis: 80%;
}

.contact-info-footer{
    margin-top: 25px;
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.contact-info-footer .connect-icons-footer{
    flex-basis: 80%;
}

.icons-footer-1{
    color: white;
    font-weight: 700;
}

.line-end{
    flex-basis: 95%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.line-end hr{
    height: 3px;
    background-color: #34a0fd;
}

.icons-footer i{
    color: white;
}

.connect-icons-footer a{
    color: white;
}

.end-footer{
    margin-bottom: 30px;
}

#nsutian-footer{
    color: red;
    font-weight: 600;
}

.quick-link-a{
    color: #928989;
}
