/* nav bar */

.home-page .nav-bar {
    display: flex;
    color: black;
    align-items: center;
    padding-top: 20px;
    z-index: 3;
}

.home-page .nav-bar .logo {
    font-family: cursive;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 40px;
}

.home-page .nav-bar .headings {
    display: flex;
    font-size: 20px;
    font-weight: normal;
}

.home-page .nav-bar .headings a {
    text-decoration: none;
    color: black;
}

.home-page .nav-bar .headings a:hover {
    color: #e79544;
    text-decoration: none;
}

.home-page .nav-bar .headings .search-bar {
    margin-right: 40px;
}

.home-page .nav-bar .headings .search-bar .search-bar-input {
    height: 30px;
    background:transparent;
    padding-left: 3px;
    font-size: 16px;
    color: black;
    border: none;
    width: 490px;
    border-bottom: 0.7px solid black;
}

.home-page .nav-bar .headings .search-bar .search-bar-input:focus{
    outline: none;
    border-bottom: 0.7px solid #e79544;
}

.home-page .nav-bar .headings .search-bar a button {
    border: none;
    background:none;
    color: black;
    height: 30px;
    width: 30px;
    font-size: 18px;
}

.home-page .nav-bar .headings .search-bar a button:hover {
    color: #e79544;
    cursor: pointer;
} 