.staff {
  align-content: center;
  text-align: center;
  padding: 5%;
}
.staff-head-box {
  text-align: center;
  color: rgb(104, 79, 64);
  display: block;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.line-below {
  font-size: 17px;
  color: dimgray;
}
.S-name {
  color: #684f40;
  font-size: 35px;
  font-style: italic;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main-team-container .container {
  display: grid;
  width: 90%;
  margin: 40px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.front img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container1 {
  position: relative;
}

.front h2 {
  position: absolute;
  top: 50%;
  left: 30%;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:linear-gradient(#da9516,rgb(204, 88, 88));
  color: white;
  padding: 15px;
  transform: perspective(600px) rotateY(180deg);
  transition: transform 0.5s linear 0s;
  backface-visibility: hidden;
  border-radius: 10px;
}

.back h2 {
  text-align: center;
}

.front {
  color: white;
  transform: perspective(600px) rotateY(0deg);
  transition: transform 0.5s linear 0s;
}

.container1:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
  cursor: pointer;
}

.container1:hover > .back {
  transform: perspective(600px) rotateY(0deg);
  cursor: pointer;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.line-border {
  display: block;
  width: 70px;
  height: 2px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fdb822;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.chef-position {
  text-align: center;
  font-family: fantasy;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}
.front-side {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 18px;
  font-family: cursive;
  /* font-style: italic; */
}
.container1:hover > .front .front-side {
  display: none;
}

/* a i {
    color: white;
    background-color: #fff;
    z-index: 50;
} */
.team-txt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

.staff-txt {
  margin-top: 50px;
  font-size: larger;
  text-align: center;
  flex-basis: 90%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.staff-tag {
  flex-basis: 90%;
  text-align: center;
  font-family:cursive;
  font-size: 15px;
}

.staff-icons {
    
    margin-top: 15px;
  display: flex;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.back p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.staff-icons a {
  flex-basis: 30%;
  text-align: center;
  font-size: 30px;
  color: black;
}
.desc-staff{
    margin-top: 15px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-align: justify; */
    align-items: center;
}

#flip-bck{
    font-weight: 300;
}
#last-tag{
    position: fixed ;
    bottom: 8px;
    text-align: center;
    font-family:cursive;
    font-size: 14px;
}


